@media (min-width: 576px) {
    .modal-dialog {
        max-width: 725px;
    }
}
.no-left-border-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.no-right-border-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}