$white: #fff;
$primary: #10847e;
$secondary: #00a69c;
$light: #5bb4ba;
$light-gray: #e9ecef;

$navbar-dark-color: rgba($white, 1);
$navbar-dark-hover-color: rgba($white, 1);
$font-size-base: .825rem;
$nav-pills-border-radius: 0;
$card-border-width: 0;
$input-bg: #e8feff;
$input-border-color: #10847e;